<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Bulma</strong> by <a href="https://codersky.me">K</a>
      </p>
    </div>
  </div>
</footer>