<!DOCTYPE html>
<html lang="en">

<head>
    {{#> head}}
    {{/head}}
</head>

<body>
    <nav class="navbar is-dark">
        <!-- navbar brand, navbar menu... -->
        <div class="navbar-start">
            <a class="navbar-item">
                <img src="https://bulma.io/images/bulma-logo-white.png" width="112" height="28" alt="Bulma">
            </a>
        </div>
        <div class="navbar-end">
            {{!-- {{#each theme.menu}}
            <a class="navbar-item" href="{{this}}">
                {{@key}}
            </a>
            {{/each}} --}}
        </div>
    </nav>

    <div class="container" style="margin-top:20px">
        {{> @partial-block }}
    </div>
    
    {{#> footer }}
    {{/footer}}
</body>

</html>